<% provide(:title, 'All staff') %>
  <div class="row">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1>Our Staff</h1>
            </div>
        </div>
    <div class="col-sm-8">
        
        <div class="row">
            <div class="dj-col wapper">
                <h3>Weekday Joks</h3><hr>
                <ul class="users">
                 <%= render partial: "staff", collection: @week %>
                </ul>
            </div>
            <div class="dj-col wapper">
                <h3>Specialty Hosts</h3><hr>
                <div class="users">
                    <%= render partial: "staff", collection: @special %>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
  </div>

