<% provide(:title, 'All staff') %>
  <div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1>Our Staff</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Weekday Joks</h3>
                <%= will_paginate %>
                <ul class="users">
                  <%= render @staffs %>
                </ul>
                <%= will_paginate %>
            </div>
            <div class="col-sm-6">
                <h3>Specialty Hosts</h3>
                
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
  </div>

