<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> About the Station</h1>                  
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<h2> Content coming very soon!</h2>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>


