<div class="panel"><h1> About WVBR-FM</h1></div>
	<div class="col-sm-8">
		<div class="wapper">

			
			<h2> Who We Are</h2>
			<p>Based in Ithaca, NY, WVBR broadcasts on 93.5 FM and online at WVBR.com.</p>
			<p>Our 93.5 FM radio signal is broadcast from high atop Hungerford Hill in Ithaca at 3,000 watts, Our online stream is identical to the FM radio broadcast but allows people to listen around the world.</p>
			<p>Our studios are located at 604 East Buffalo Street in Ithaca, NY. If you've won a prize or just want to say hi, stop or come by, Monday-Friday 9am-5pm. Unlike some other local stations, all the music and talk you hear is coming from right here from our East Hill studios...except of course, when we're broadcasting at events throughout the community.</p>
			<p>WVBR is special and unusual among the radio industry. We aren't a part of any media conglomerations -we have been operated by the Cornell Media Guild, Inc. (formerly The Cornell Radio Guild, Inc.) since 1935, an independent, nonprofit media organization in Tompkins County unaffiliated with the University and serving the Tompkins County area. The station staff is made up of Cornell University students and community volunteers, most of whom are here just because they love music, news, sports, and interacting with the local community. As a not-for-profit membership corporation, WVBR provides students with hands-on training in broadcast media and running a multi-faceted business while providing the community with a source for both local and world-class content.</p>
			
			<h2>Where We Come From</h2>
			<p>Our origins trace back to 1935, when Cornell students formed the Cornell Radio Guild, an organization that produced radio content for WESG, a university radio station. The Guild produced and broadcasted content from Willard Straight Hall on the Cornell campus and became incorporated as a non-profit membership corporation in 1941. The organization went on to start providing their own "carrier-current" broadcasts to the Cornell dormitories in the early 40's. Broadcasts were mostly classical music back then and remained so as WVBR hit the FM dial for the first time in 1958. The Cornell Radio Guild was one of a small handful of student-run nonprofit radio stations that successfully applied for and received a commercial FM radio license for the purposes of training its young up-and-coming staff. Some of these stations have since faded away, but WVBR has endured among its fellows WUVA, WBRU, WHRB, and WPRB. In 1968 WVBR switched over to playing rock music. We continued to pioneer the format, joining other legendary stations such as WNEW WMMS, KSAN, and WCMF in the progressive rock revolution through the 70's. The history of the 1958-68 Classical & Jazz Era remains enshrined in current <%= link_to("George E. Beine '61 Studio A.", beine_path) %> </p>
			<p>Since then, the Ithaca spectrum has filled up with stations streamed in from all over the nation, but we have continued to do what we do best - provide independent radio to an independent community. WVBR is the only place you'll place you'll find local music, local news, and local sports alongside the best rock out there. Plus, you'll see us out in the community - whether we're running a promotion, MCing your favorite summer festival, or it's just our staff working and playing in the community we all live.</p>
			<p>Our programming is as diverse as the community we serve. During the week, we spin the best rock there is - everything from the classic rock you would have heard when we started pumping rock over the airwaves in 1968 to the best new modern rock hitting the charts and everything in between. At night, we have VBR After Dark, where play all the great rock you hear during the day and expand our music catalog to include the best alternative and independent rock. Every weekend brings a new set of sounds to your ears as we explore the roots of rock through our diverse selection of specialty shows. Everything from blues to oldies and reggae to world music, including Bound for Glory on Sunday night, America's longest continually running folk music show. Whatever your tastes, there's certain to be something that tickles your fancy on WVBR's weekends.</p>
			<p>Being a training ground for broadcast media is part of our mission. WVBR has alumni in every part of the media industry, all the way from on-air personalities to upper management. Besides being a great experience, WVBR can be a great place to start a career in broadcast media.</p>
			<p>We're WVBR: a community of passionate individuals sharing our love of music, news, sports, and everything else with the Ithaca community and the world through our radio station and this website. If you've got any questions or comments, drop us a line. We'd love to hear from you!</p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  




