        <div class="panel"><h1> Advertise on WVBR-FM</h1></div>

	<div class="col-sm-8">


		<div class="wapper">
			 
			<h4>WVBR can help promote your organization, bussiness or event to the Ithaca community and beyond. Join the WVBR Family and be heard. <br> <br>
				For more infomation, please contact our sales manager: <br> <br> Russ Maracle <br>
				
				russmaracle@wvbr.com<br>
				(607)273-4000 x 1
				</h4>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

