<div class="col-sm-8">
	<div class="wapper">
		<h1 class="page-title"> Advertise on WVBR-FM </h1><hr>
		 
		<h4>WVBR can help promote your organization, business or event to the Ithaca community and beyond. Increase the visibility of your business or organization.  Advertise on WVBR and be heard! <br> <br>
			For more infomation, please contact our sales manager: <br> <br> John Rudan <br>
			
			Send a message to: jr(at)wvbr.com<br>
			Call: (607)273-4000 x 1
			</h4>
	</div>

</div>


<div class="col-sm-4">
  
	<%= render 'shared/aside' %>

</div>


