<div class="row">

	<div class="col-sm-8">

        
		<div class="wapper">
			<h1> Advertise on WVBR</h1> 
			<hr><hr>
			<h4> Please email our Sales Manager at russmaracle@wvbr.com</h4>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>
