<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script type="text/javascript">

$.ajax({
  type:     "GET",
  url:      "http://ithacanet.org/closingsdetail.html",
  dataType: "text",
  success: function(data){
    console.log(data);
  }
});

</script>

<div class="panel"><h1> Lorem Ipsum Dolorem Sit</h1></div>
  
	<div class="col-sm-8">
		<div class="wapper">
			<p> <b>This is a test text box for school closing information, and will be updated as this page is updated. Please be patient</b></p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
