<?php
  echo readfile("http://ithacanet.org/closingsdetail.html");
?>

<div class="panel"><h1> Lorem Ipsum Dolorem Sit</h1></div>
  
	<div class="col-sm-8">
		<div class="wapper">
			<p> <b>This is a test text box for school closing information, and will be updated as this page is updated. Please be patient</b></p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
