<div class="panel"><h1> Lorem Ipsum Dolorem Sit</h1></div>
  
	<div class="col-sm-8">
		<div class="wapper">
			<h1>Recently Played</h1>
			<hr><hr>
			<ul id="played"></ul>
			<p> <b>This is a test text box for school closing information, and will be updated as this page is updated. Please be \n patient</b></p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
