<div class="panel"><h1>Ithaca Area Closings and Cancellations</h1></div>
  
<pre>
<object data="http://ithacanet.org/closingsdetail.html" width="100%" height="300"><embed src="http://ithacanet.org/closingsdetail.html" width="100%" height="300"></object>
</pre>
			<!-<iframe name="closings" src="http://ithacanet.org/closingsdetail.html" frameborder="0" scrolling="auto"></iframe>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
