<div class="panel"><h1>School Closings</h1></div>
  
	<div class="col-sm-8">
		<div class="wapper">
			<iframe name="closings" src="http://ithacanet.org/closingsdetail.html" frameborder="0" scrolling="auto"></iframe>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
