<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> Contact</h1>                  
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<h2> General contact: info@wvbr.com</h2>
			<h2>New music submissions: music@wvbr.com </h2>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>
