
<div class="panel">
	
	<h1> Contact</h1> 
</div>
    		                 

    



	<div class="col-sm-8">

        
		<div class="wapper">
			
			<h3 class="center">New music submissions: music@wvbr.com </h3>
			<h3 class="center"> <%= link_to  'Click here', 'submit_event' %> to submit an event to the Concert Log or Community Calendar</h3>
			<h3 class="center"> General contact: info@wvbr.com</h3>
			<h3 class="center"><b>
				Want to get involved with local radio? Whether your interest is DJing, news, engineering or programming, we'd love to have you
				join the WVBR family! Email info(at)wvbr.com for more information.
			</b></h3>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
		<br>
   
	</div>
  
