<div class="row">
  
      
	<div class="col-sm-8">

        
		<div>
            <div class="wapper">
                <h1> Give to the Station!</h1>
                <hr>
                <p>WVBR FM is a 501(c)(3) registered non-profit. Although we are managed primarly by students, we operate independenlty of and are not funded by Cornell.
                We depend largely on donations from generous community members and alumni. All gifts go toward preserving radio culture and educating students interested in media.
                We are thankful for all the support from our listeners! 
                <br>Donations to WVBR are tax deductible .
                </p>
                <h4>How to Donate?</h4>
                <p><b>Send a check addressed to WVBR FM</b><br>
                604 E Buffalo St<br> Ithaca, NY 14850</p>
                
                <p><b>Give via Paypal</b></p>
                <a target="_blank" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=4FnUgUbu4W2Txn7FqNW4DappjqqtAmzuDE7XpLbuz3e1mjiEJrfNGgWisNa&dispatch=5885d80a13c0db1f8e263663d3faee8d6625bf1e8bd269586d425cc639e26c6a">
                    Click Here!
                </a>
                
            </div>

		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>


