<div class="col-sm-8">
	<div>
        <div class="wapper">
            <h1 class="page-title"> Help Support the Station! </h1><hr>
            <p>WVBR-FM is operated by the Cornell Media Guild Inc., a 501(c)(3) non-profit organization. We are managed primarly by Cornell University students and operate independently of,
	and are not funded by, Cornell University.  Generous donations received from community members and alumni are an essential supplement to advertising revenue.
	All donations further our mission to train students for radio and help prepare for careers in media and are critical to maintaining the operation of the station. We appreciate your support!
	Thank you!
            <br>Donations to WVBR are tax-deductible.
            <hr>
            </p>
            <h3 class="center">How to Donate?</h3>
            <p><b>Send a check addressed to WVBR-FM</b><br>
            604 E. Buffalo St.<br> Ithaca, NY 14850</p>
            
            <p><b>Give via Paypal by clicking the button below</b></p>
            <div style="width:200px;">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="W9H5TZUVKXPW2">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>
        </div>

	</div>

</div>


<div class="col-sm-4">
  
	<%= render 'shared/aside' %>

</div>