<% provide(:title, "Help") %>
<div class="wapper"><div class="cbox">
    <h1>The WVBR Help Center</h1>
    <h4><i>Get by with a little help from your friends</i></h4>
    <hr>
    
    <p>Turning off Automation</p>
    <div style="overflow:hidden;height:540px;width:960px;max-width:100%;max-height:100%;"><div id="youtube_canvas" style="height:100%;width:100%;max-width:100%"><iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0" src="https://www.youtube.com/embed/XWzY7xnoN5k?hl=en&amp;autoplay=0&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1"></iframe></div><a class="youtube-embed-code" href="http://www.tubeembed.com" id="get-youtube-data">tubeembed</a><style>#youtube_canvas img{max-width:none!important;background:none!important}</style></div>
    
</div></div>
