<div class="row">
  
	<div class="col-sm-8">
		<div class="wapper">
			<h1>Recently Played</h1>
			<hr><hr>
			<ul id="played"></ul>
			<p> <b>Our DJs sometimes play music off of CD and vinyl (and sometimes we've even got live performers). Due to these unique formats we do not always 
			have a digial record of evey song played. In that case, your best bet is to contact the DJ at 607-273-2121 as close as possible to the time you 
			hear the song. Some hosts will also post their playlists, so check their individual blogs. We are unfortunatly not able to answer emails asking
			about songs heard at a specific time. </b></p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>


