<div class="row">
  
	<div class="col-sm-8">
		<div class="wapper">
			<h1>Recently Played</h1>
			<hr><hr>
			<ul id="played"></ul>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>


