<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> Song History</h1>
     		
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<ul id="played"></ul>

		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>


