<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> Song History</h1>                  
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<h2> Content coming very soon!</h2>
			<script>
			$.SHOUTcast({
   				host : 'smoke.wavestreamer.com',
   				port : 7820
			}).played(function(tracks){
   				$('ul').html('');
   				$.each(tracks,function(k,track){
      				$('ul').append('<li>'+track.title+'</li>');
   				});
			});
			<p data-shoutcast-value="songtitle"></p>
		</script>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<p>This column is for adds and links to featured items</p>
   
	</div>
  

</div>


