	<div class="col-sm-8">
		<div class="wapper">
			<h1>WVBR Song History</h1>
			<hr>
			<p> <b>Our DJs sometimes play music off of CD and vinyl (and sometimes we even have live performers!). Due to these unique formats, we do not always 
			have every song automatically appear on this list. In that case, your best bet is to contact the DJ at 607-273-2121 as close as possible to the time you 
			hear the song. Some hosts will also post their playlists, so check their individual blogs. We are unfortunately not able to answer emails asking
			about songs heard at a specific time. </b></p>
			<hr>
			
			<%
			lines = Array.new
			f = open('http://scripts.wvbr.com/935-song-history.txt')
			lines = []
			f.each_line do |line|
				lines << line
			end
			len = lines.length
			(1..len).each do |n|
			%>
			<p><%= lines[len-n].force_encoding('UTF-8') %></p>
			<%
			end
			f.close() 
			%>
		
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  
