<div class="wapper">
    <h1> Typical Weekday Line up </h1>
    <hr>
    
    <h2>Real Rock in the Morning - 6:00am - 12:00pm</h2>
    <p>Playing Ithaca's best mix of modern and classic rock - And don't just expect your average Classic Hits
    Radio. VBR has a massive library of music that taps into the deepest cuts that you didn't even know existed.
    Real Rock in the Morning will take you down the path of Forgotten Favorites every week, refreshing your 
    memory about some well-buried music that deserves another spin. Look out for some great new music along the way too!</p>
    
    <h2>The Lunch Hour - 12:00pm - 3:00pm</h2>
    <p>Spend the second half of the work day with your favorite DJ's on WVBR. Guaranteed to provide the
    perfect mix to get you through the afternoon!</p>
    
    <h2>The Afternoon Drive - 3:00pm - 7:00pm</h2>
    <p>Finish up your work day and enjoy the drive home with WVBR. All your favorite modern and classic rock with 
    News, and Weather every hour to keep you caught up on everything you need to know. Stay tuned to WVBR to make your afternoon fly by.</p>
    
    <h2>VBR AfterDark - 7:00pm-5:00am</h2>
    <p>Want to hear something new? Then VBR AfterDark is the place to be! Every weeknight from 7pm to 5am, VBR AfterDark brings you the same mix of modern and classic rock that you love along with some great deep tracks and music from lesser known artists.</p>
    
    <h2>The Top 10 at 10</h2>
    <p>Every weeknight at 10pm, the VBR DJs count down the Top 10 of something! The DJs will pick a topic and select what they think are the 10 best songs relating to that topic.</p>



</div>
