<div class="wapper">
    
    <h1>WVBR's Rock the Waters</h1>
    <hr>
    <h3>
        <b>Listen to live local music and support your favorite station!</b> <br>
        Saturday August 6th <br>
        The Dock<br>
        Doors open 7pm
    </h3>
    <hr>
    <h4><b>Featuring:</b></h4>
    <h4>Johnny Dowd<br>
    Gabe Tavares<br>
    Polly Wood<br>
    Samuel Lupowitz
    </h4>
    
    <h4>
        Tickets are $12 in advance and $15 at the door<br>
       
    </h4>
                                                
                                                <div id="customButton"><a href="http://tickethookups.com/wvbr-rock-the-waters" style="background: url(http://tickethookups.com/images/admin/button-bg.png) repeat-x center center;background-color:#680100; border:1px solid #680100;text-shadow:0 -1px #680100;border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow:0 2px 3px rgba(0, 0, 0, .3);-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .3);display:inline-block; color:#ffffff;font-family:arial; font-size:12px;font-weight:bold; margin:0; padding:5px 10px; text-decoration:none;" target="_top">Click Here to Buy Tickets</a></div>        
                                            
                                        
    
    <h5>
        We will have raffles for prizes such as gift cards to Handwork, Viva and the Nines. <br>
        Your ticket in gets you a discount on WVBR T-shirts.<br>
        Did we mention that The Dock has fantastic food and drinks?<br>
        Come rock out while supporting the station!
        
    </h5>
    
</div>