<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> Weather</h1>                  
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<p> Weather Coming soon</p>
			<a href="http://www.accuweather.com/en/us/ithaca-ny/14850/weather-forecast/334655" class="aw-widget-legal">
			<!--
			By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
			-->
			</a><div id="awtd1464316524951" class="aw-widget-36hour"  data-locationkey="334655" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1464316524951" data-editlocation="true"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>		
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>
