<div class="row">
  
      
	<div class="sec-head panel panel-default">
            
		<div class="panel-body">
          
     		<h1> Weather</h1>                  
		</div>
        
	</div>
        
    



	<div class="col-sm-8">

        
		<div class="wapper">
			<h2> Coming Soon!</h2>
			<p> Stay tuned. </p>
		</div>
    
	</div>
 

	<div class="col-sm-4">
      
		<%= render 'shared/aside' %>
   
	</div>
  

</div>
