<div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1><%= @top.title %></h1>
            </div>
        </div>
    
    <p><%= @top.description %></p>
    
    
    <p> #10:  <%= @top.one_song %> by <%= @top.one_artist %> </p>
    </div>

    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
</div>