<div class="wapper">
  <div class="col-sm-8">
  <h1 class="page-title"> News Articles </h1>
  <hr>
  <div class="boxlist">
         <%= render @articles %>
  </div>
  </div>
  <div class="col-sm-4">
      <%= render 'shared/aside' %>
  </div>
</div>