  <div class="row">
    <div class="col-sm-8">
        <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1>News Articles</h1>
            </div>
        </div>

        <div class="wapper">
               <%= render @articles %>

        </div>
          

    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
  </div>
