  <div class="panel"><h1> News </h1></div>

  <div class="wapper">


    <div class="col-sm-8">
        <div class="boxlist">
               <%= render @articles %>
        </div>
          

    </div>
    <div class="col-sm-4">
      <%= render 'shared/aside' %>
  </div>
</div>