  <div class="wapper">
    <h1 class="page-title"> Sports </h1>
    <hr>
    <div class="col-sm-8">


        <div class="wapper">
             <% @articles.each do |article| %>
               <%= render @articles %>
            <% end %>
        </div>
          

    </div>
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
  </div>
