  <div class="row">
              <div class="sec-head panel panel-default">
            <div class="panel-body">
                <h1>Station News</h1>
            </div>
        </div>
    <div class="col-sm-8">


        <div class="boxlist">
             <% @articles.each do |article| %>
               <%= render @articles %>
            <% end %>
        </div>
          

    </div>
    <div class="col-sm-4">
      <%= render 'shared/aside' %>
  </div>
