
<div class="wapper">
    <div class="cbox">
        <h1> Event approval </h1>
        <hr>
        <% @events.each do |event| %>
            <p><b><%= link_to event.name, edit_event_path( event)  %></b> |
                <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %> |
                <%= event.date.strftime('%A %B %d') %> 
            </p>
          <% end %>
    </div>
</div>