<div class="schedule-frame">
<h1 style="color:black"><b>On Air This Week</b></h1><hr>
<div class="times">
    <h6>6am</h6> <h6>7am</h6> <h6>8am</h6> <h6>9am</h6> <h6>10am</h6> <h6>11am</h6> <h6>12pm</h6> <h6>1pm</h6>
    <h6>2pm</h6> <h6>3pm</h6> <h6>4pm</h6> <h6>5pm</h6> <h6>6pm</h6> <h6>7pm</h6> <h6>8pm</h6> <h6>9pm</h6>
    <h6>10pm</h6> <h6>11pm</h6> <h6>12am</h6> <h6>1am</h6> <h6>2am</h6> <h6>3am</h6> <h6>4am</h6> <h6>5am</h6>
    
</div>


<div style="margin-left:70px">
    <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=d3Zici5jb21fbWg1MjJhODRqZXBkcWJlbmtsYWFyMTBzOGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237CB342&amp;color=%230B8043&amp;title=Show%20Schedule&amp;mode=AGENDA&amp;showTabs=0" style="border-width:0" width="850" height="500" frameborder="0" scrolling="no"></iframe>
</div>
    
    
</div>
