<div class="wapper">
    <div class="cbox">
        <h1>WVBR Studio A </h1>
        <hr>
        <div class="f-right" style="margin:10px;"><%= image_tag("gb-3.JPG", width: "400")  %> </div>
        <p>
            WVBR's Studio A holds as much functionality as it does history. The room is home to WVBR’s vast vinyl collection, boasting thousands of 33’s and 45’s. Studio A is also dedicated to George E Beine ’61. To learn more about this history, visit <a href="/beine">this page.</a>
        </p>
        <p>
            Studio A also serves as a live performance space and is the headquarters of the on air performances you hear on shows such as Tuesdays with the Band or the Last Exit.
            While not in use for on-air performances, we make the studio available to the community as a practice space. See our rates below.
        </p>
        
        <table class="price-card">
            <tr>
                <th>Hourly</th>
                <th>$7</th>
            </tr>
            <tr>
                <th>Day Pass</th>
                <th>$30</th>
            </tr>
        </table>
        <br>
        <p>
            Studio A is available for practice 24hrs per day except during certain times when specialty shows need it. Please see our <a href="/reservations/calendar">calendar</a> for availability. 
            To request the room, please use <a href="/reservations/submit">this form.</a> We will email you back to confirm. Please reserve at least 3 days in advance. 
            For any questions, please email <b>studioA</b>(at)<b>wvbr.com</b>
        </p>
        
        
    </div>
</div>    