<div class="wapper">
    <div class="cbox">
        <h1>A space to create at WVBR </h1>
        <hr>
        <h3>Studio A</h3>
        <div class="f-right" style="margin:10px;"><%= image_tag("gb-3.JPG", width: "400")  %> </div>
        <p>
            WVBR's Studio A is a one-of-a-kind recording and performance space. 
            Also known as the Vinyl Room, the room is home to WVBR’s vast vinyl collection, boasting thousands of 33’s and 45’s. 
            Studio A is also dedicated to George E Beine ’61. 
            To learn more about Beine and the Vinyl Room, please visit <a href="/beine">this page.</a>
        </p>
        <p>
            Studio A serves as the station's live performance space, and is the headquarters of the on-air performances you hear on shows such as Tuesdays with the Band and the Last Exit. 
            When not in use for on-air performances, the studio is available to musicians and other performers in the community as a space to practice and record audio and video. See our rates below.
        </p>
        
        <table class="price-card">
            <tr>
                <th>Hourly</th>
                <th>$8</th>
            </tr>
            <tr>
                <th>Day Pass</th>
                <th>$35</th>
            </tr>
        </table>
        <p>
            Note: any reservation lasting over 4 hours will be priced as a day pass. 
        </p>
        <p>
            If you plan to be a frequent visitor, email us to ask about discount packaging and monthly passes!
        </p>
        <p>
            Studio A is available for practice 24hrs per day except during certain times when specialty shows need it. Please see our <a href="/reservations/calendar">calendar</a> for availability. 
            To request the room, please use <a href="/reservations/submit">this form.</a> We will email you back to confirm. Please reserve at least 3 days in advance. 
            For any questions, please email <b>studioA</b>(at)<b>wvbr.com</b>
        </p>
        
        
    </div>
</div>    