<div class="item">
    <div class="pic" style="background-image: url(<%= item.picture %>)">
         <h4>$ <%= item.price %>0</h4>
    </div>
    
    <h3><%= item.name%></h3>
    
    <div> 
        <%= raw item.button %>
    </div>
   
</div>  
