@import "bootstrap-sprockets";
@import "bootstrap";

/* universal layout*/

body {
  font-family: 'Oxygen', sans-serif;
  background-color: seashell;
  margin: 0;
  a{
    color: maroon;
  }
}
#page{
  padding-top: 120px;
}
.wideblock{
width: 100%;
min-width: 1000px;
margin: auto;
}

/* universal and useful */
section {
  overflow: auto;
}
.f-right{
  float: right;
  margin:20px;
}
.f-left{
float: left;
}
.oa{
overflow: auto;
}
.center {
  text-align: center;
}

/* text styles */

h1{
  color: white;
  margin: 0 0 12px 0;
}
h2{
  
}
h3{
  
}
h4{
  a{
    color: #2C3539;
  }
}
h5{
  margin: 0;
  font-size: 11px;
}
h6{
  font-size: 16px;
  color: white;
  margin: 0 0 10px 0;
}
p{
  color: black;
}
a{
  color: red;
  text-decoration: initial;
  font-weight: bold;
}

/*Navigation bars and Header*/

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1002;
}
.social{
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 5px;
}
#listenbutton{
  position: fixed;
  top: 10px;
  left: 350px;

  img{
    height: 70px;
    width: 160px;
  }
  
}
#tunein{
  position: fixed;
  top: 10px;
  left: 520px;
  img{
    height: 70px;
    width: 190px;
  }
}
#menu{
  height: 50px;
  background-color: #182125;
  top: 100px;
  z-index: 1001;
  a{
    color: gray;
    }
  .dropdown-menu{
    a{
      color: black;
    }
  }
}
.admin_bar{
  position: fixed;
  top: 150px;
  z-index: 1000;
  background-color: dimgray;
  opacity: .4;
  width: 100%;
}
.admin_bar:hover{
  opacity: 1;
}

/*Footer*/
.legal{
  margin-top: 10px;
  border: 1px black solid;
  background-color: gray;
  color: silver;
  padding: 20px;
  width: 470px;
  border-radius: 2em;
  float: right;
}
#footr{
  overflow: auto;
  color: white;
  background-color: #182125;
  height: 300px;
  padding: 50px 100px 20px 100px;
  a{
    color: white;
    font-size: 15px;
  }
}


/*Page Layout*/

.center h1 {
  margin-bottom: 10px;
}
.panel{
  border-bottom: white 3px solid;
  background-color:  seashell;
  color: gray;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  opacity: .95;
  padding: 10px;
  p{
    fornt-size: 20px;
    color: gray;
  }
  h1{
    padding-left: 50px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin: 20px;
  }
}
.wapper{
  background-color: seashell;
  padding: 30px;
  overflow: auto;
  h1{
    color: black;
  }
  h6{
    color: black;
  }
  hr{
    border-top: 1px solid grey;
  }
}
/*Component Blocks*/

.aframe{
  position: relative;
  overflow-y: auto;
  background-color:  seashell;
  border-top: red;
  padding: 0;
  div{
    margin: 0px;
    padding: 0;
    height: auto;
  }
  h3{
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: red;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
  }
  a{
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  h6{
    text-align: center;
  }
  h1{
    text-align: center;
  }
}

.bframe{
  margin-bottom: 30px;
  overflow: auto;
  width: 100%;
  h3{
    color: maroon;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
    background-color: seashell;
    padding: 20px;
  }
    h6{
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    a{
    color: black;
    }
  }
  h5{
    font-size: 11px;
    margin: 0;
    a{
      color: #4d0000;  
    }
  }
  p{
    margin: 0;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
input {
  height: auto !important;
  margin-top: 10px;
}
.users {
  margin: 0;
}
textarea {
  resize: vertical;
}



/* blogposts */

.blogposts {
  list-style: none;
  padding: 0;
  width: 100%;

  li {

    padding: 10px 0;
    border-top: 1px solid #c2c2d6;
    clear: left;
    overflow: auto;
    h3{
      margin: 10px 0 0 0;
    }
    p {
      margin: 0 0 0 60px;
    }
    img {
      padding: 5px;
      float: right;
    }
    .timestamp {
      color: $gray-light;
      margin-left: 0px;
      font-weight: bold;

    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }
}



/*Home page podcast box*/
#podcasts {
  div{
    width: 170px;
    height: 170px;
    overflow: hidden;
    background-size: cover;
    background-position: center; 
    display: inline-block;
    margin: 5px;
    position: relative;
  }
  h6{
    position: absolute;
    padding: 10px;
    background-color: black;
    opacity: .5;
    width: 100%;
    a{
      color: white;
    }
  }
  h6:hover{
    opacity: .9;
  }
}

.aframe::-webkit-scrollbar { 
  display: none;
}

/* calender */
#month{
  text-align: center;
  font-size: 40px;
  a{
    color: black;
  }
}
.calendar{
  width:100%;
  td th{
    font-size: 10px;
  }
  td {
    height: 80px;
  }
  th{
    width: 14.285%;
    text-align:center;
  }
  .notmonth{
    color: #CCC;
    text-align: top;
    
  }
  .today{
    background-color: #D7F2FF;
  }
  ul{
    list-style-type: none;
    margin: -20px 0 0 -20px;
    font-size: 12px;
  }
}




.article{
  border-top: 1px solid #602020;
  overflow: auto;
  img{
    width: 100px;
    float: right;
    margin: 5px;
  }
}
.article-show{
  font-size: 15px;
  .captioned{
    border: 1px solid #29293d;
    padding: 5px;
    font-size: 12px;
    display: table;
    border-bottom: 0;
    img{
      width:300px;
    }
  }
}


.caption{
  display: table-caption;
  caption-side: bottom;
  border: 1px black solid;
  border-top: 0;
  padding: 5px;
}



.newspic{
  float: left;
  margin-right: 20px;
  
}



/*Home page events aside */
#events{
  overflow: auto;
  div{
    width: 100%;
    padding: 10px;
    overflow: auto;
    div{
    background-color: #8b8581;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
    padding: 3px;
    }
    h6{
        margin: 0;
        margin-top: 10px;
      a{
        color: #8b8581;
        font-size: 15px;
    }
    } 
    h1{
      margin: 0px;
      text-align: center;
      font-size: 28px;
    }
    p{
    color: black;
    font-size: 10px;
    font-weight: bold;
    }
  }

}


/*Used for blogposts*/
.boxlist{
  div{
    border-bottom: gray 1px solid;
    margin: 10px;
    overflow: auto;
    padding: 10px;
    h5{
      margin: 0;
      a{
        color: maroon;
      }
    }
    h3{
      margin: 0;
      a{
        color: black;
      }
    }
    h6{
      margin: 0;
      color: black;
    }
    img{
      float: left;
      margin-right: 10px;
    }
  }
}
.ashow{
    margin: auto;
    margin-bottom: 30px;
    height: 400px;
    width: 700px;
    background-size: cover;
    padding: 20px;
    p{
      color: white;
    }
    
  h2{
    margin: 0;
    a{
      color: 	maroon;
    }
  }
  div:hover{
    opacity: 1;
  }
  div{
    height: 130px;
    opacity: .7;
    background: black;
    margin-top: 230px;
    padding: 10px;
  }
  hr{
    margin: 5px;
  }
}
.showshow{
  color: #1a1a1a;
  h1{
    font-size: 50px;
    margin: 0;
    color: 	#211212;
  }
  img{
    margin: auto;
  }
  hr{
    color:	#211212;
        border-top: 1px solid;
  }
  h4{
    margin: 0;
  }
  a{
    color: 	maroon;
  }
  h2{
    color: 	#211212;
    margin: 0;
  }
  h3{
    margin: 0;
  }
}


.center{
  margin: auto;
}

#hr1{
  border: 0;
}
.bblog{
  overflow: auto;
  h3{
    margin: 0;
    font-size: 50px;
  }
  h5{
    font-weight: bold;
  }
  img{
    margin: auto;
    float: left;
    margin: 5px;
    width: 600px;
  }
  
}


.all{
  overflow: auto;
}
.user{
  display: inline-block;
  margin: 5px;
  width: 200px;
}
.cf{
  min-width: 1150px;
  margin: auto;
  position: relative;
  padding: 0px;
}
.ib{
  display: inline-block;
}
.f1{
  margin-left: 40px;
  width: 55%;
  a{
    color: black;
  }
}
.amz{
  width: 300px;
  padding: 25px;
  overflow: auto;
  background-color: #1b1818;
  color: gray;
  margin-bottom: 20px;
  img{
    margin: 3px;
  }
}
.dj-col{
  margin: 20px;
}
.image-form{
  list-style-type: none;
  
  input{
    margin: 0px;
  }
  li{
    border: gray 1px solid;
    margin: 2px;
    padding: 5px;
  }
  img{
    float: right;
  }
}
input[type="checkbox"]{
  width: 20px;
}






.lplate{
margin: 10px;
height: 40px;
width: 300px;
border-radius: 1em;
background-color: gray;
padding: 10px;
margin-top: 20px;
text-align: center;
vertical-align: center;
}
.clog{
  width: 300px;
  min-height: 500px;
  background-color: #d0c8c2;
  margin: 20px;
  padding: 10px;
  h5{
    background-color: #e7ded8;
    padding: 5px;
    text-align: center;
    border-radius: .5em;
    color: black;
    font-size: 13px;
  }
  h3{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }
}


#first{
padding-top: 30px;
height: 500px;
background-color: #000307;
h2{
  color: white;
}
h4{
  text-align: center;
  a{
    color: red;
  }
}
}
.cbox{
  width: 1000px;
  margin: auto;
}
#image{
  height: 300px;
  background-image:url('records.jpg');
  background-size: cover;
}
.p30{
  width: 40%;
  padding: 20px;
  float: left;
}
.p40{
  width: 60%;
  padding: 25px;
  float: right;
}
.blist{
  width: 60%;
  padding: 20px;
}
.cbutton{
  width: 90px;
  height: 90px;
  background-color: #6495ED;
  border-radius: 1em;
  display: inline-block;
  margin: 3px;
}
.cbutton p{
  vertical-align: middle;
  text-align: center;
  margin-top: 35px;
}
.cbutton:hover{
  background-color: slategray;
}
#stnews{
  margin-top: 20px;
  width: 550px;
  height: 350px;
  background-image:url('records.jpg');
  background-size:cover;
  margin: auto;
}
.image-container {
  float: left;
  background-image:url('records.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  width:150px;
  height:150px;
  margin: 10px;
}  
#second{
overflow: auto;
background-color: seashell;
}

.ad{
width: 300px;
margin: 20px;
}
.flight{
width: 300px;
margin: 20px;
padding: 20px;
background-color: slategray;
border-radius: .5em;
h2{
  margin-top: 0px;
}
}


@media (max-width: 768px) {
    #image {
       margin-top: 260px;
    }
    #menu{
      height: auto;
      position: absolute;
    }
    .wideblock{
      width: 100%;
    }
}