  <div class="panel"><h1> Specialty Shows </h1></div>
  <div class="wapper">

      
    <div class="col-sm-8">
      <div>
        <%= render @specialty_shows %>
      </div>
    </div>
    
    <div class="col-sm-4">
      <%= render 'shared/aside' %>
    </div>
    
  </div>

