<div class="body-element"> 
  
  <div class="wapper">
  <h1 class="page-title"> Specialty Shows </h1>
  <hr>
      
      <div class="page-2">
        <%= render @specialty_shows %>
      </div>
      <div class="page-1">
      <%= render 'shared/aside' %>
      </div>
    
  </div>
</div>
