  <div class="row">
    
    <div class="col-sm-8">
    <h1 class="page-title"> Podcast Shows </h1><hr>  
      <div class="wapper"> 
      <ul class="blogposts">
        <% @shows.each do |show| %>
          <li>
            <h2><%= link_to show.name, show %></h2>
            <% if logged_in? %>
            <%= link_to "edit", edit_show_path(show) %>
            <h6><%= show.description %></h6>
            <% end %>
          </li>
        <% end %>
      </ul>
      </div> 
    </div>
    
    <div class="col-sm-4">
      <p>This column is for adds and links to featured items</p>
    </div>
    
  </div>
