<div class="footer1">   

            
            
            
  <div>
      <div class="f1 ib" >
        <% if logged_in? %>
        <% else %>
          <h4><%= link_to "Admin Log in", login_path %></h4>
        <% end %>
      </div>
      <div class="f2 ib" >
        <div class="legal">
          <p>
            About WVBR
           <br> WVBR is an independent, non-profit commercial radio station broadcasting from Ithaca, New York to the Counties of Tompkins, Tioga, Cortland, Cayuga, Seneca, Schuyler, and Chemung.
            <br>Privacy Policy | Terms of Use | EEO | Advertise
            <br>© 2012 Cornell Media Guild, Inc.
            <br>All Rights Reserved.
          </p>
        </div>
      </div>
  </div>

</div>