<div id="footer-wrapper">
  <div style="width:80%; margin:auto">
    <p>
      WVBR is a local commercial radio station broadcasting from Ithaca, New York to the Counties of Tompkins, Tioga, Cortland, Cayuga, Seneca, Schuyler, and Chemung.
      WVBR is run by the Cornell Media Guild, Inc - a non-profit student organization that is independent and not funded nor managed by Cornell University. 
      Our mission is to preserve local media and act as a training ground for the future generation. 
    </p>
    <p> 
      © Cornell Media Guild, Inc. 
      <br> All Rights Reserved.
    </p>
    <p>604 E Buffalo St.<br>Ithaca, NY 14850<br>(607)273-4000</p>
  </div>
</div>
